<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden shadow">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Create Account</h5>
                  <p>Get your free Asset Management account now.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="Profile" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="card-body pt-0">
            <div class="text-center mt-3">
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="Logo" height="34">
                  </span>
                </div>
              </a>
            </div>

            <form class="p-2" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

              <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" id="usernameInput" formControlName="username" class="form-control"
                  placeholder="Enter username" />
              </div>

              <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input type="email" id="emailInput" formControlName="email" class="form-control"
                  placeholder="Enter your email" />
              </div>

              <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" id="passwordInput" formControlName="passwordHash" class="form-control"
                  placeholder="Enter password" />
              </div>

              <div class="mb-3">
                <label for="roleSelect" class="form-label">Role</label>
                <select id="roleSelect" class="form-select" formControlName="role">
                  <option value="" disabled selected>Select Role</option>
                  <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
              </div>

              <div class="mt-4 d-grid">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>

            </form>
          </div>
        </div>

        <div class="mt-5 text-center" style="text-align: match-parent;">
          <p>Already have an account?
            <a routerLink="/account/login" class="fw-medium text-primary">Login</a>
          </p>
          <p>© {{year}} Shagz. Crafted with <i class="mdi mdi-heart text-danger"></i> by Micropoint</p>
        </div>
      </div>
    </div>
  </div>
</div>
